@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');

$purple:#9356DC;
$pink: #FF79DA;
$tertiary: #99E2D0;
$gray: #e6e6e6;
$lightGray: #f2f2f2;
$darkGray: #333333;
$white: white;
$lightGreen: #99E2D0;
$darkGreen: #139274;
$veryLightGray: #fafafa;
$textFont: "roboto", sans-serif;
$titleFont: "shrikhand", sans-serif;

$border-first: 1px solid #9356DC;
$border-second: 1px solid #fafafa;

$border-radiusPC: 50%; 
$border-radiusPX: 15px; 

$padding-menu: 20px;
$padding-general: 30px;
$font-size: 14px;
$widthPX: 16px;
$widthPC: 50%;
$gap: 10px;
$box-shadow: 0px 0px 8px 2px #00000022;
$box-shadowpurple: 0px 0px 8px 2px #9356dc;

* {
    font-family: $textFont;
  }

html{
    margin: 0 auto;
    width: 100%;
}

main{
    margin: 0 auto;
    width: 100%;
}

@mixin respond($breakpoint) {
    @if($breakpoint == medium)  {
        @media (max-width: 992px) { @content }
    };

    @if($breakpoint == small)  {
        @media (max-width: 768px) { @content }
    };

    @if($breakpoint == large)  {
        @media (min-width: 993px) { @content }
      };
  } 

.spinner{
    background-color: $purple;
    top: 50%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: conic-gradient(#3dffc9, #f7c723, #eb0ea5, #3dffc9);
    animation: spin 1.4s linear;
    box-shadow: 0px 0px 150px -75px black;
    border: 4px solid $white;
    opacity: 0;
    z-index: 1;
    pointer-events: none;
}

.spinner::before{
    content: "";
    background-color: $white;
    position: absolute;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    bottom: 150px;
    left: 150px;
    transform: translate(-50%, 50%);
    box-shadow: inset 0px 0px 110px -70px black;
    border: 4px solid $white;
    pointer-events: none;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: $white;
    opacity: 0;
    position: fixed;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    animation: opaque 3s linear;
    z-index: 1;
    pointer-events: none;
}

@keyframes spin{
    0% {
        opacity: 1;
    } 

    100% {
        transform: rotateZ(180deg);
        opacity: 1;
    }
}

@keyframes opaque {
    0% {
        opacity: 1;
    } 

    60% {
        opacity: 1;
    }
}


.choiceMenu{
    padding: 0px 30px 0px 0px;
    flex-direction: row;
    justify-content: center;    
    @include respond(small) {
        flex-direction: column;
        align-items: left;
      }
}

body{
    width:100%;
    box-sizing: border-box;
    align-items: center;
    margin: 0px 0px 0px 0px;
    @include respond(small) {
        padding: unset;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        display: flex;
    } 
}

main{
    width: $widthPC + 50;
}

header{
    flex-direction: column;
    align-items: center;
    width: $widthPC + 50; 
}

.logo{
    padding: $padding-menu 0px $padding-menu 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    font-size: 58px;
    @include respond(medium) {
        width: 400px;
        }
    @include respond(small) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: $widthPC;
    font-size: 50px;
    }
}

.navBar{
    display: flex;
    text-align: center;
    width: $widthPC + 50;
    justify-content: center;
}

.bookMenu{
    text-align: center;
    background: $lightGray;
    padding: $padding-menu 0px $padding-menu + 40 0px;
    & h2  {
        margin-top: 0px;
        padding-top: $padding-menu;       
    }
    &:nth-child(2) {
        font-size: $font-size + 4;
    }
    & P{
        font-size: $font-size + 8;
    }
    @include respond(small) {
        text-align: center;
        & p {
            word-wrap: break-word;
            padding: $padding-menu 0px $padding-menu + 20 0px;
            margin: 0px auto;
        }
    }
    
}

.menuOption{
    width: $widthPC + 50;
    border-top-left-radius: $border-radiusPX + 5;
    border-top-right-radius: $border-radiusPX + 5;
    align-self: center;
    height: 300px;
    object-fit: cover;
    position: relative;
}

.location{
    background: $gray;
    display: flex;
    width: $widthPC + 50;
    justify-content: center;
    box-shadow: inset 0 5px 5px -7px rgba(0,0,0,0.4);
    @include respond(small) {
        justify-content: center;
        width: $widthPC + 50;
    }
}

.location i{
    padding-right: $padding-menu;
}

.topMenu > h2, .restaurant > h2{
    padding-left: $padding-menu + 10;
    padding-top: $padding-menu + 10;
}

.exRest{
    background: $purple;
    color: $white;
    background-image: linear-gradient($pink, $purple);
    border: 1px solid $purple;
    border-radius: $border-radiusPX + 65;
    width: 400px;
    height: $widthPX + 50;
    font-size: $font-size + 8;
        &:hover {
            background-color: #c19cf0;
            background-image: none;
            cursor: pointer;
            box-shadow: 5px 5px 7px rgba(0,0,0,0.4);
            transition: 0.7s;
        }
    @include respond(small) {
        justify-content: center;
        width: $widthPC;
    }
}

.choiceMenu{
    display: flex;
    justify-content: space-between; 
    gap: $gap + 10;
    padding-bottom: 80px;
    & i {
        padding-right: $padding-menu;
    }
}

.choiceCourses{
    display: flex;
    justify-content: space-evenly; 
    gap: $gap + 10;
    width: 90%;
    padding-bottom: 50px;
    flex-direction: column;
    background: $lightGray;
}

.choiceMenuList, .location{
    display: flex;
}

.choiceMenuList{
        width: $widthPC + 45;
        height: $widthPX + 50;
        font-size: $font-size + 8;

    @include respond(small) {
        align-self: center;
        padding-left: 0;
        }
}
@keyframes makeItfadeIn {
	100% {
        background-position: left;
      }
}

.choiceMenuBtn{
    border: $border-first;
    border-radius: $border-radiusPC;
    color: $white;
    background: $purple;
    position: relative;
    right: -10px;
    width: $padding-menu + 5;
    height: $padding-menu + 5;
    text-align: center;
}

.choiceMenuBtnIn{
    display: flex;
    align-items: center;
    width: $widthPC + 50;
    text-align: left;
    padding-left: $padding-general;
    border: none;
    border-radius: $border-radiusPX;
    font-size: $font-size + 8;
    box-shadow: $box-shadow;
        &:hover {
            background-color: #e7dff1;
            cursor: pointer;
            box-shadow: 5px 5px 7px rgba(0,0,0,0.4);
            transition: 0.7s;
            & i{
                color: #9356DC;
            }
        }   
}

.restaurant{
    background: $lightGray;
    padding: 10px 10px 80px 10px;
    width: 100%;
    @include respond(large)
     {   
        display: flex;
        flex-direction: column;
    }
}

.restaurantCards{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gap + 20px;
    position: relative;
    @include respond(large)
     {
        justify-content: center;
        align-self: center;
        width: 90%;
        flex-direction: row;
        margin: 0 10px 0 10px;
        gap:20px;
        }
}

.restaurantCard{
    width: $widthPC + 40;
    background: $white;
    border-radius: $border-radiusPX + 5;
    position: relative;
    @include respond(large) {
        flex-direction: row;
        }

    & .restaurantNew{
        position: absolute;
        right: 20px;
        justify-content: center;
        background: $lightGreen;
        color: $darkGreen;
        padding: 10px 40px;
        font-size: $font-size + 8;
        font-weight: bold;
        border-radius: 4px;
    }
}

.restaurantOptions{
    flex-direction: column;
    display: flex;
    text-decoration: none;
    height: 461px;
}

.des{
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: space-between;
    text-wrap: wrap;
    .desTop{
        & :first-child {
            font-size: $font-size + 10;
            color: black;
            font-weight: bold;
        }
        & :last-child {
            font-size: $font-size + 6;
            color: black;
            font-weight: normal;
        }
    }
}

footer{
    width: $widthPC + 50;
    color: $white;
    background: $darkGray;
    & .logo{
        filter: invert(1);
        margin: unset;
        width: 200px;
        padding: 30px 0px 10px $padding-menu + 30;
    }
    & .footerBottom{
        padding: 0px 0px 20px $padding-menu + 30;
        font-size: 32px;
        & .footerWord{
        gap: $gap;
        }
    }
}

.heart-container > .fa-heart{
    color: black;
    font-size: 50px;
}
  
.heart-fill-container > .fa-heart{
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    background-image: linear-gradient(#ff79da, #9356dc);
}
  
.heart-fill-container{
    position: absolute;
    overflow: hidden;
    height: 0px;
    top: 356px;
    transition: .5s;
    pointer-events: none;
}     
 


.heart-container .fa-heart:hover + .heart-fill-container{
    height: 80px;
    cursor: pointer;
}

#suggest{
    padding-right: 19px;
}

#partner{
    padding-right: 9px;
}

.contact{
    text-decoration: none;
    color: $white;
}

.navTop{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-around;
    margin-left: 100px;
    text-decoration: none;
    color: black;
    font-size: 40px;
    @include respond(small) {
        margin-left: 20px;
    }
}

#arrowLeft{
font-size: 40px;
color: black;
text-decoration: none;
}

.mainPart{
    display: flex;
    width: 100%;
    flex-direction: column;
    background: $lightGray;
    align-items: center;
    font-size: 50px;
    justify-content: space-between;
    gap:20px;
    position: relative;
    bottom: 100px;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    margin-bottom: -100px;
    @include respond(large) {
        font-size: 58px;
    }
} 

.mainTop{
    padding: 0px 30px 0px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;
    & p {
        font-family: $titleFont;
    }
}

.underLine{
    background-color: $tertiary;
    margin-top: -30px;
    margin-bottom: 5px;
    height: 4px;
    width: 65px;
    align-self: start;
    @include respond(large) {
        align-self: center;
        width: 110px;
    }
}

@keyframes animate-fade {
    0% { opacity: 0; }
  100% { opacity: 1; }
}

 @keyframes animate-pop {
    0% {
    opacity: 0;
    transform: scale(0.5, 0.5);}
    100% {
        opacity: 1;
        transform: scale(1, 1);
      }
 }

.courseTitle{
    background: $lightGray;
    display: flex;
    font-size: 28px;
    text-align: left;
    align-self: flex-start;
    @include respond(large) {
        align-self: center;
    }
}
.courseName{
    text-align: left;
    @include respond(large) {
    align-self: center;
    display: flex;
    justify-content: center;
    }   
}
.mainBtn{
    display: flex;
    justify-content: space-between;
    height: 100px;
    min-width: 100%;
    width: 600px;
    border: 1px $white;
    background: $white;
    display: flex;
    text-align: left;
    border: none;
    border-radius: $border-radiusPX;
    font-size: $font-size + 8;
    box-shadow: $box-shadow;    
    padding: 0 0 0 8px;
    @include respond(large) {
        min-width: unset;
        width: 600px;
        align-self: center;
    }
    @include respond(medium) {
        min-width: unset;
        width: 100%;
        align-self: center;
    }
    @include respond(small) {
        width: 100%;
        align-self: center;
    }
    &:hover{
        cursor: pointer;
    }

    & .menuIn{
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: left;
        gap: 20px;
        & :first-child{
            font-size: 28px;
            margin: 4px;
            margin-bottom: 6px;
            font-weight: bold;
        }
        & :last-child{
            font-size: 24px;
            margin: 4px;
        }
    } 
    & .menuFull{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    & .price{
        margin: 40px 20px 0 0;
        font-size: 24px;
        font-weight: bold;
    }  
    &:hover .courseIcon{
        width: 100px;
      }
      
    &:hover .fa-circle-check{
        rotate: 360deg;
        font-size: 35px;
      }
    .courseIcon{
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 0px;
        position: relative;
        background-color: $tertiary;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        transition: 0.3s;
        & i {
            position: absolute;
            color: white;
            rotate: 0deg;
            transition: 1s;
        } 
    }
}

.dessert1 {
    animation-duration: 0.5s;
    animation-name: animate-fade;
    animation-delay: 0.3s;
    animation-fill-mode: backwards;
    animation-name: animate-pop;
    animation-timing-function: cubic-bezier(.26,.53,.74,1.48);
 }

.dessert2 {
    animation-duration: 0.5s;
    animation-name: animate-fade;
    animation-delay: 0.7s;
    animation-fill-mode: backwards;
    animation-name: animate-pop;
    animation-timing-function: cubic-bezier(.26,.53,.74,1.48);
 }

.dessert3 {
    animation-duration: 0.5s;
    animation-name: animate-fade;
    animation-delay: 1.1s;
    animation-fill-mode: backwards;
    animation-name: animate-pop;
    animation-timing-function: cubic-bezier(.26,.53,.74,1.48);
}

.dishBtn{
    display: flex;
}

.menuOptionMenu{
    width: $widthPC + 50;
    border-top-left-radius: $border-radiusPX + 5;
    border-top-right-radius: $border-radiusPX + 5;
    align-self: center;
    height: 500px;
    object-fit: cover;
    position: relative;
}

.orderButton{
    background: $purple;
    color: $white;
    background-image: linear-gradient($pink, $purple);
    border: 1px solid $purple;
    border-radius: $border-radiusPX + 65;
    width: 350px;
    height: 86px;
    font-size: $font-size + 18;
    margin-bottom: 160px;
    @include respond(small) {
        justify-content: center;
        // width: $widthPC + 5;
        height: 86px;
    }
    &:hover {
        background-color: #c19cf0;
        background-image: none;
        cursor: pointer;
        box-shadow: 5px 5px 7px rgba(0,0,0,0.4);
        transition: 0.7s;
    }
}
