@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');

// html{
//     box-sizing: border-box;
// }

$purple:#9356DC;
$pink: #FF79DA;
$tertiary: #99E2D0;
$lightGray: #f2f2f2;
$white: white;
$veryLightGray: #fafafa;
$textFont: "roboto", sans-serif;

$border-first: 1px solid #9356DC;
$border-second: 1px solid #fafafa;

$border-first-radius: 50%; 
$border-second-radius: 15px; 

$padding-menu: 20px;
$padding-general:30px;
$font-size:14px;

* {
    font-family: $textFont;
  }

@mixin respond($breakpoint) {
    @if($breakpoint == medium)  {
      @media (max-width: 992px) { @content }
    };

    @if($breakpoint == small)  {
      @media (max-width: 768px) { @content }
    };
  }

@mixin box-shadow($x-axis: 0, $y-axis: 1px, $blur: 2px, $color: $default) {
    box-shadow: $x-axis $y-axis $blur $color;
  }

.choiceMenu{
    flex-direction: row;
    justify-content: center;    
    @include respond(small) {
        flex-direction: column;
        align-items: left;
      }
}

body{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    align-items: center;
    @include respond(small) {
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        display: flex;
    } 
}

main{
    width: 100%;
}

header{
    flex-direction: column;
    align-items: center;
    width: 100%; 
}

.logo{
    padding: 20px 0px 20px 0px;
    @include respond(small) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    }
}

.navBar{
    display: flex;
    text-align: center;
    width: 100%;
}

.bookMenu{
    background: $white;
    & h2  {
        margin-top: 0px;
        padding-top: $padding-menu;       
    }
    & p {
        font-size: 28px;
    }
    @include respond(small) {
        text-align: center;
        & p {
            width: 200px;
            overflow-wrap: break-word;
            word-wrap: break-word;
            word-break: break-word;
        }
    }
    
}

.menuOption{
    width: 100%;
    border-top-left-radius: $border-second-radius + 10;
    border-top-right-radius: $border-second-radius + 10;
}

.location{
    background: $lightGray;
    display: flex;
    width: 100%;
    box-shadow: inset 0 5px 5px -7px rgba(0,0,0,0.4);
    @include respond(small) {
        justify-content: center;
        width: 100%;
    }
}

.location i{
    padding-right: $padding-menu;
}



.exRest{
    background: $purple;
    color: $white;
    border: 1px solid $purple;
    border-radius: 80px;
    

}

.choiceMenu{
    display: flex;
    justify-content: space-between; 
    & i {
        padding-right: $padding-menu;
    }
}


.choiceMenuList, .location{
    display: flex;
    
}

.choiceMenuList{
        width: 80%;

    @include respond(small) {
        width: 80%;
        padding-left: 0;
        }
       
}

.choiceMenuBtn{
    border: $border-first;
    border-radius: $border-first-radius;
    color: $white;
    background: $purple;
    position: relative;
    right: -10px;
    width: $padding-menu;
    height: $padding-menu;
    text-align: center;
}

.choiceMenuBtnIn{
    width: 100%;
    text-align: left;
    padding-left: $padding-general;
    border: $border-second;
    border-radius: $border-second-radius;
    font-size: $font-size;
    @include respond(small) {
    display: block;
    width: 100%;
    }
    
}

.restaurant{
    background: $veryLightGray;
}

.restaurantOptions{
    border: 1px solid $veryLightGray;
    flex-direction: column;;
    display: flex;
    border-width: 80px;
}

