@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');

$primary:#9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$third: #cccccc;
$fourth: white;
$fifth: #f2f2f2;

$border-first: 1px solid #9356DC;
$border-first-radius: 50%; 

$padding-menu: 20px;

@mixin respond($breakpoint) {
    @if($breakpoint == medium)  {
      @media (max-width: 992px) { @content }
    };

    @if($breakpoint == small)  {
      @media (max-width: 768px) { @content }
    };
  }

.choiceMenu{
    flex-direction: row;
    justify-content: center;    
    @include respond(small) {
        flex-direction: column;
        align-items: center;
      }
}

body{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    align-items: center;
    @include respond(small) {
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        display: flex;
    } 
}

main{
    width: 100%;
}

.logo{
    @include respond(small) {
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        display: flex;
    }
}

.navBar{
    display: flex;
    text-align: center;
}

.bookMenu{
    background: $fifth;
    
}

.location{
    background: $third;
    display: flex;
    @include respond(small) {
        justify-content: center;
    }
}

.location i{
    padding-right: $padding-menu;
}



.exRest{
    color: $primary;
}

.choiceMenu{
    display: flex;
    justify-content: space-between;
}

.choiceMenuList, .location{
    display: flex;
}

.choiceMenuList{
    padding-left: $padding-menu;
}

.choiceMenuBtn{
    border: $border-first;
    border-radius: $border-first-radius;
    color: $fourth;
    background: $primary;
    position: relative;
    right: -10px;
    width: $padding-menu;
    height: $padding-menu;
    text-align: center;
}


