@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
.choiceMenu {
  flex-direction: row;
  justify-content: center;
}
@media (max-width: 768px) {
  .choiceMenu {
    flex-direction: column;
    align-items: center;
  }
}

body {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  align-items: center;
}
@media (max-width: 768px) {
  body {
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}

main {
  width: 100%;
}

@media (max-width: 768px) {
  .logo {
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}

.navBar {
  display: flex;
  text-align: center;
}

.bookMenu {
  background: #f2f2f2;
}

.location {
  background: #cccccc;
  display: flex;
}
@media (max-width: 768px) {
  .location {
    justify-content: center;
  }
}

.location i {
  padding-right: 20px;
}

.exRest {
  color: #9356DC;
}

.choiceMenu {
  display: flex;
  justify-content: space-between;
}

.choiceMenuList, .location {
  display: flex;
}

.choiceMenuList {
  padding-left: 20px;
}

.choiceMenuBtn {
  border: 1px solid #9356DC;
  border-radius: 50%;
  color: white;
  background: #9356DC;
  position: relative;
  right: -10px;
  width: 20px;
  height: 20px;
  text-align: center;
}