@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
* {
  font-family: "roboto", sans-serif;
}

.choiceMenu {
  flex-direction: row;
  justify-content: center;
}
@media (max-width: 768px) {
  .choiceMenu {
    flex-direction: column;
    align-items: left;
  }
}

body {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  align-items: center;
}
@media (max-width: 768px) {
  body {
    padding: unset;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}

#navTop {
  display: flex;
  text-align: center;
  width: 100%;
}

main {
  width: 100%;
}

header {
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.logo {
  padding: 20px 0px 20px 0px;
}
@media (max-width: 768px) {
  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}

.navBar {
  display: flex;
  text-align: center;
  width: 100%;
}

.bookMenu {
  background: #f2f2f2;
  padding: 20px 0px 60px 0px;
}
.bookMenu h2 {
  margin-top: 0px;
  padding-top: 20px;
}
.bookMenu:nth-child(2) {
  font-size: 18px;
}
@media (max-width: 768px) {
  .bookMenu {
    text-align: center;
  }
  .bookMenu p {
    word-wrap: break-word;
    padding: 20px 0px 40px 0px;
    margin: 0px auto;
  }
}

.menuOption {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  align-self: center;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

.location {
  background: #e6e6e6;
  display: flex;
  width: 100%;
  box-shadow: inset 0 5px 5px -7px rgba(0, 0, 0, 0.4);
}
@media (max-width: 768px) {
  .location {
    justify-content: center;
    width: 100%;
  }
}

.location i {
  padding-right: 20px;
}

.topMenu > h2, .restaurant > h2 {
  padding-left: 30px;
  padding-top: 30px;
}

.exRest {
  background: #9356DC;
  color: white;
  background-image: linear-gradient(#FF79DA, #9356DC);
  border: 1px solid #9356DC;
  border-radius: 80px;
  width: 100%;
  height: 66px;
  font-size: 22px;
}
@media (max-width: 768px) {
  .exRest {
    justify-content: center;
    width: 55%;
  }
}

.choiceMenu {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 80px;
}
.choiceMenu i {
  padding-right: 20px;
}

.choiceCourses {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 80px;
  flex-direction: column;
  background: #f2f2f2;
}
.choiceCourses i {
  padding-right: 20px;
}

.choiceMenuList, .location {
  display: flex;
}

.choiceMenuList {
  width: 95%;
  height: 66px;
  font-size: 22px;
}
@media (max-width: 768px) {
  .choiceMenuList {
    align-self: center;
    padding-left: 0;
  }
}

#heartIcon {
  width: 50px;
  height: 50px;
  color: #9356DC;
  position: relative;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  0% {
    top: 0;
    left: 0;
  }
  30% {
    top: 50px;
  }
  68%, 72% {
    left: 50px;
  }
  100% {
    top: 100px;
    left: 100%;
  }
}
.choiceMenuBtn {
  border: 1px solid #9356DC;
  border-radius: 50%;
  color: white;
  background: #9356DC;
  position: relative;
  right: -10px;
  width: 25px;
  height: 25px;
  text-align: center;
}

.choiceMenuBtnIn {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: left;
  padding-left: 30px;
  border: none;
  border-radius: 15px;
  font-size: 22px;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1333333333);
}
.choiceMenuBtnMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: left;
  padding-left: 30px;
  border: none;
  border-radius: 15px;
  font-size: 22px;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1333333333);
}

.restaurant {
  background: #f2f2f2;
  padding: 10px 10px 80px 10px;
}

.restaurantCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  position: relative;
}

.restaurantCard {
  width: 90%;
  background: white;
  border-radius: 20px;
  position: relative;
}
.restaurantCard .restaurantNew {
  position: absolute;
  right: 20px;
  justify-content: center;
  background: #99E2D0;
  color: #139274;
  padding: 10px 40px;
  font-size: 22px;
  font-weight: bold;
  border-radius: 4px;
}

.restaurantOptions {
  flex-direction: column;
  display: flex;
  text-decoration: none;
}

.des {
  padding: 10px 0px 10px 5px;
}
.des p {
  font-size: 24px;
  color: black;
}
.des :first-child {
  font-weight: bold;
}

footer {
  width: 100%;
  color: white;
  background: #333333;
}
footer .logo {
  filter: invert(1);
  margin: unset;
  width: 200px;
  padding: 30px 0px 10px 50px;
}
footer .footerBottom {
  padding: 0px 0px 20px 50px;
  font-size: 32px;
}
footer .footerBottom .footerWord {
  gap: 10px;
}

#suggest {
  padding-right: 19px;
}

#partner {
  padding-right: 9px;
}

.navTop {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-around;
  padding-left: 40px;
}

#arrowLeft {
  font-size: 40px;
}
.mainPart {
  display: flex;
  background: #f2f2f2;
  padding: 0px 40px 0px 40px;
  align-items: center;
  font-size: 40px;
  gap: 20px;
  bottom: 200px;
  width: 100%;
  padding-top: 200px;
}
.mainPart p {
  font-family: "shrikhand", sans-serif;
}

.courseTitle {
  background: #f2f2f2;
  margin-top: 0px;
}

.dessert p:nth-child(1) {
  font-size: 18px;
  font-weight: bold;
  margin: 4px;
}

.dessert {
  padding: 0px 10px 0px 10px;
  border: 1px white;
  background: white;
  width: 100%;
}