@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');

// html{
//     box-sizing: border-box;
// }

$purple:#9356DC;
$pink: #FF79DA;
$tertiary: #99E2D0;
$lightGray: #f2f2f2;
$white: white;
$veryLightGray: #fafafa;
$textFont: "roboto", sans-serif;

$border-first: 1px solid #9356DC;
$border-second: 1px solid #fafafa;

$border-radiusPC: 50%; 
$border-radiusPX: 15px; 

$padding-menu: 20px;
$padding-general: 30px;
$font-size: 14px;
$widthPX: 16px;
$widthPC: 50%;
$gap: 10px;
$box-shadow: 0px 0px 8px 2px #00000022;
$box-shadowpurple: 0px 0px 8px 2px #9356DC;

* {
    font-family: $textFont;
  }

@mixin respond($breakpoint) {
    @if($breakpoint == medium)  {
      @media (max-width: 992px) { @content }
    };

    @if($breakpoint == small)  {
      @media (max-width: 768px) { @content }
    };
  }

.choiceMenu{
    flex-direction: row;
    justify-content: center;    
    @include respond(small) {
        flex-direction: column;
        align-items: left;
      }
}

body{
    width: $widthPC + 50;
    max-width: $widthPX + 1184;
    margin: 0 auto;
    padding: 0 $padding-menu;
    box-sizing: border-box;
    align-items: center;
    @include respond(small) {
        padding: unset;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        display: flex;
    } 
}

main{
    width: $widthPC + 50;
}

header{
    flex-direction: column;
    align-items: center;
    width: $widthPC + 50; 
}

.logo{
    padding: $padding-menu 0px $padding-menu 0px;
    @include respond(small) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: $widthPC;
    }
}

.navBar{
    display: flex;
    text-align: center;
    width: $widthPC + 50;
}

.bookMenu{
    background: $white;
    & h2  {
        margin-top: 0px;
        padding-top: $padding-menu;       
    }
    & p {
        font-size: $font-size + 4;
    }

    @include respond(small) {
        text-align: center;
        & p {
            word-wrap: break-word;
            padding-bottom: $padding-menu;
            margin: 0px auto;
        }
    }
    
}

.menuOption{
    width: $widthPC + 50;
    border-top-left-radius: $border-radiusPX + 10;
    border-top-right-radius: $border-radiusPX + 10;
}

.location{
    background: $lightGray;
    display: flex;
    width: $widthPC + 50;
    box-shadow: inset 0 5px 5px -7px rgba(0,0,0,0.4);
    @include respond(small) {
        justify-content: center;
        width: $widthPC + 50;
    }
}

.location i{
    padding-right: $padding-menu;
}

.topMenu > h2, .restaurant > h2{
    padding-left: $padding-menu + 10;
    padding-top: $padding-menu + 10;
}

.exRest{
    background: $purple;
    color: $white;
    border: 1px solid $purple;
    border-radius: $border-radiusPC + 65;
    width: $widthPC + 50;
    height: $widthPX + 50;
    font-size: $font-size + 8;
    @include respond(small) {
        justify-content: center;
        width: $widthPC + 5;
    }
}

.choiceMenu{
    display: flex;
    justify-content: space-between; 
    gap: $gap + 10;
    & i {
        padding-right: $padding-menu;
    }
}


.choiceMenuList, .location{
    display: flex;
    
}

.choiceMenuList{
        width: $widthPC + 45;
        height: $widthPX + 50;
        font-size: $font-size + 8;

    @include respond(small) {
        align-self: center;
        padding-left: 0;

        }
       
}

.choiceMenuBtn{
    border: $border-first;
    border-radius: $border-radiusPC;
    color: $white;
    background: $purple;
    position: relative;
    right: -10px;
    width: $padding-menu + 5;
    height: $padding-menu + 5;
    text-align: center;
}

.choiceMenuBtnIn{
    width: $widthPC + 50;
    text-align: left;
    padding-left: $padding-general;
    border: none;
    border-radius: $border-radiusPX;
    font-size: $font-size + 8;
    box-shadow: $box-shadow;
    @include respond(small) {
    display: block;
    }
}

.restaurant{
    background: $veryLightGray;
}

.restaurantOptions{
    border: 1px solid $veryLightGray;
    flex-direction: column;
    display: flex;
    border-width: $widthPX + 64;
}

