@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
* {
  font-family: "roboto", sans-serif;
}

.choiceMenu {
  flex-direction: row;
  justify-content: center;
}
@media (max-width: 768px) {
  .choiceMenu {
    flex-direction: column;
    align-items: left;
  }
}

body {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  align-items: center;
}
@media (max-width: 768px) {
  body {
    padding: unset;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}

main {
  width: 100%;
}

header {
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.logo {
  padding: 20px 0px 20px 0px;
}
@media (max-width: 768px) {
  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}

.navBar {
  display: flex;
  text-align: center;
  width: 100%;
}

.bookMenu {
  background: white;
}
.bookMenu h2 {
  margin-top: 0px;
  padding-top: 20px;
}
.bookMenu p {
  font-size: 18px;
}
@media (max-width: 768px) {
  .bookMenu {
    text-align: center;
  }
  .bookMenu p {
    word-wrap: break-word;
    padding-bottom: 20px;
    margin: 0px auto;
  }
}

.menuOption {
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.location {
  background: #f2f2f2;
  display: flex;
  width: 100%;
  box-shadow: inset 0 5px 5px -7px rgba(0, 0, 0, 0.4);
}
@media (max-width: 768px) {
  .location {
    justify-content: center;
    width: 100%;
  }
}

.location i {
  padding-right: 20px;
}

.topMenu > h2, .restaurant > h2 {
  padding-left: 30px;
  padding-top: 30px;
}

.exRest {
  background: #9356DC;
  color: white;
  border: 1px solid #9356DC;
  border-radius: 115%;
  width: 100%;
  height: 66px;
  font-size: 22px;
}
@media (max-width: 768px) {
  .exRest {
    justify-content: center;
    width: 55%;
  }
}

.choiceMenu {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.choiceMenu i {
  padding-right: 20px;
}

.choiceMenuList, .location {
  display: flex;
}

.choiceMenuList {
  width: 95%;
  height: 66px;
  font-size: 22px;
}
@media (max-width: 768px) {
  .choiceMenuList {
    align-self: center;
    padding-left: 0;
  }
}

.choiceMenuBtn {
  border: 1px solid #9356DC;
  border-radius: 50%;
  color: white;
  background: #9356DC;
  position: relative;
  right: -10px;
  width: 25px;
  height: 25px;
  text-align: center;
}

.choiceMenuBtnIn {
  width: 100%;
  text-align: left;
  padding-left: 30px;
  border: none;
  border-radius: 15px;
  font-size: 22px;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1333333333);
}
@media (max-width: 768px) {
  .choiceMenuBtnIn {
    display: block;
  }
}

.restaurant {
  background: #fafafa;
}

.restaurantOptions {
  border: 1px solid #fafafa;
  flex-direction: column;
  display: flex;
  border-width: 80px;
}